//======================
//|PREDEFINED CLASSES  |
//=====================

// Use these styles to append to headings or otherwise add classes to match styles exactly with designer idea
// PLEASE READ: THESE ARE MEANT TO BE PARIED WITH DESIGNER STYLE GUIDE IN GOOGLE DRIVE WITH FSD.

//headings

.desktop-h1 {

}

.desktop-h2 {

}

.desktop-h3 {

}

.desktop-h4 {

}

.desktop-h5 {

}

.desktop-h6 {

}

.desktop-h7 {

}

.desktop-h8 {

}

.desktop-h9 {

}

.desktop-h10 {

}

.desktop-h11 {

}

.desktop-h12 {

}


//paragraph
.desktop-p1 {
}

.desktop-p2 {
}


// margins
.buffer-bottom-20 {
    margin-bottom: 20px;
}

.buffer-bottom-40 {
    margin-bottom: 40px;
}

.buffer-bottom-80 {
    margin-bottom: 80px;
}

.buffer-top-20 {
    margin-top: 20px;
}

.buffer-top-40 {
    margin-top: 40px;
}

.buffer-top-80 {
    margin-top: 80px;
}

.no-buffer-top-mobile {
	margin-top: 0;
}
.no-buffer-bottom-mobile {
	margin-bottom: 0;
}

// blocks
.block-20 {
    margin: 20px 0px;
}

.block-40 {
    margin: 40px 0px;
}

.block-60 {
    margin: 60px 0px;
}

.block-80 {
    margin: 80px 0px;
}


//=========MOBILE ==========//

.mobile-h1 {

}
.mobile-h2 {

}

.mobile-h3 {

}

.mobile-h4 {

}

.mobile-h5 {

}

.mobile-h6 {

}

.mobile-h7 {

}

.mobile-h8 {

}

.mobile-h9 {

}
.mobile-h10 {

}

.mobile-h11 {

}

.mobile-p1 {

}