
@import "../../variables";

.content {
	margin: 0 10px;
	display: block;
	height: 60px;
	border: 1px dashed transparent;

	&:hover {
		border-color: #999;
	}

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	> img {
		max-height: 60px;
		//max-width: 100px;
		vertical-align: middle;
	}
}

.isDragging {
	background: white;
}
