.contact_us-grey-block {
  background-color: $color-shade;
}
.contact_us-padding-top-60 {
  padding-top: 60px;
}
.contact_us-padding-bottom-60 {
  padding-bottom: 60px;
}
.contact_us-h2-padding-bottom-40 {
  padding-bottom: 40px;
}
.reset-h2-margin {
  margin: 0;
}
.contact-us a {
  color: $color-grey;
}