/.idea
.
.php_cs.cache
CKCMS.komodoproject
npm-debug.log
.DS_Store
/app/Resources/webpack/server-bundle.js
/app/config/parameters.yml
/app/config/parameters_test.yml
/build/
/phpunit.xml
/nbproject
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/bower_components/
/node_modules
/web/css/
/web/js/
/web/assetic/
!/web/assets/
web/assets/elfinder/php/connector.php
web/files

src/CraftKeen/CMS/ThemeBundle/Resources/public/Admin/dist/*
!src/CraftKeen/CMS/ThemeBundle/Resources/public/Admin/dist/css/.gitkeep
!src/CraftKeen/CMS/ThemeBundle/Resources/public/Admin/dist/js/.gitkeep

src/CraftKeen/CMS/ThemeBundle/Resources/public/Default/dist/*
!src/CraftKeen/CMS/ThemeBundle/Resources/public/Default/dist/css/.gitkeep
!src/CraftKeen/CMS/ThemeBundle/Resources/public/Default/dist/js/.gitkeep

src/CraftKeen/CMS/ThemeBundle/Resources/public/FCR/dist/*
!src/CraftKeen/CMS/ThemeBundle/Resources/public/FCR/dist/css/.gitkeep
!src/CraftKeen/CMS/ThemeBundle/Resources/public/FCR/dist/js/.gitkeep

!/web/uploads
/web/uploads/
!web/uploads/.gitkeep

.DS_Store
!/web/assets
/web/assets/*
!web/assets/.gitkeep

!/src/CraftKeen/FCRBundle/Resources/public/Property/dist/js/
/src/CraftKeen/FCRBundle/Resources/public/Property/dist/js/*
/src/CraftKeen/FCRBundle/Resources/public/Careers/dist/js/*
!/src/CraftKeen/FCRBundle/Resources/public/Property/dist/js/.gitkeep

/src/CraftKeen/BrochureBuilderBundle/Resources/public/PDFBuilder/dist/*
/src/CraftKeen/BrochureBuilderBundle/Resources/public/FileManager/dist/*