<div class="industryPerformance">
    <div class="charts_container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <svg id="bar-chart" class="charts">
                </svg>
                <br><br>
                <div class="chart-label">Total Same Property NOI Growth</div>
            </div>
        </div>
    </div>
</div>
