<div class="row buffer-6-padding-bottom">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <ul>
            <li>The Company was recognized as the highest ranking real estate company overall in <i>Corporate Knights 2015 Future 40 Responsible Corporate Leaders in Canada</i>.<br><br></li>
            <li>Our National Property Management Team surpassed its goal to reduce energy consumption and GHG emissions by 5% in 2015 compared to the 2012 base year (weather-corrected, like-to-like portfolio):                        <ul>
                    <li>Energy consumption was reduced by 11%</li>
                    <li>GHG emissions decreased by 20 percent despite a 9% increase in emission factors</li>
                </ul>
                <br></li>

            <li>The Company’s 2015 GHG emissions decreased by 10% compared to 2014.<br><br></li>
            <li>
                The Barrymore Building (Toronto, ON) won two Building Performance Awards in Toronto’s Civic Action's Race to Reduce Challenge:                        <ol>
                    <li>Lowest Energy Use in 2014 for Buildings less than 250,000 square feet;</li>
                    <li>Greatest Energy Reduction (2011-2014): 20% or greater</li>
                </ol>
                <br></li>
            <li>42 new construction projects comprising 1.9 million square feet were certified to LEED.<br><br></li>
            <li>34 properties comprising 3.1 million square feet achieved BOMA BEST certification.<br><br></li>
            <li>The Company conducted a materiality assessment with 32 stakeholders to determine prioritization of sustainability topics and to transition to the GRI G4 guidelines for corporate responsibility and sustainability reporting.</li>
        </ul>
    </div>
</div>
