<div class="cta-box-finance">
    <img class="loader-gif" src="/uploads/icons/squares.gif">
    <div class="date"></div>
    <div class="wrap-index">
        <div class="ind"></div>
        <div class="clearfix"></div>
        <div class="arrow ">
            <em class="fa " aria-hidden="true"></em>
        </div>
        <div class="usd">
        </div>
    </div>
</div>
