
.intro {
    font-size: 1.5em;
    text-align: center;
    &.custom-grey {
    	font-size: 18px;
	    color: #5D5D5D;
	    font-family: $font-family-default-light;
    }
    &.big-text {
    	font-size: 150%;
    }
}

@import "text_queries";
