a {
    &.button {
        background-color: $color-teal;
        padding: 10px 25px;
        display: inline-block;
        color: $color-white !important;
        text-transform: uppercase;
        border-radius: 20px;
        transition: background-color 1s ease-in-out;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        .fa-angle-right {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        em {
            padding-left: 14px;
        }
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            background-color: $color-block-hover;
            color: $color-black;
            transition: background-color .45s ease-in-out;
        }
    }
}

@import "Button_queries";