$pdf-color: black;
$pdf-bg: white;
/* colors */

$white: #fff;
$black: #000;
$blue-type1: #0d60a6;
$blue-type2:rgba(8,97,170,0.8);
$blue-c1:#175488;
$blue-c2:#0861aa;
$blue-c3:#0079bc;
$blue-c4:#0f8abf;

$gray: #333;

$accept: green;
$reject: red;

/* border */
$radius: 3px;

/* custom */
$shadow: 0 0 3px #666;

/* actions component */
$editor-bg: #ccc;
$editor-btn-edit-bg: #290ad8;

$font-black: yantramanavblack;
$font-bold: yantramanavbold;
$font-light: yantramanavlight;
$font-medium: yantramanavmedium;
$font-regular: yantramanavregular;
$font-thin: yantramanavthin;