{% extends 'CraftKeenCMSAdminBundle::layout.html.twig' %}
{% import 'CraftKeenCMSAdminBundle::macros/crud.html.twig' as CRUD %}

{% if path_prefix is not defined %}
    {% set path_prefix='craftkeen_cms_admin_' %}
{% endif %}
{% if moduleTitle is not defined %}
    {% set moduleTitle='Administration' %}
{% endif %}

{% block admin_block_breadcrumb %}
    <li><a href="{{ path(path_prefix~'index') }}">{{ moduleTitle }}</a></li>
    <li class="active">{{ 'Translate'|trans }}</li>
{% endblock %}

{% block admin_block_body %}
    {% if form is defined and path_prefix is defined and object is defined %}
        {{ CRUD.renderTranslateFormContent(form, path_prefix, object) }}
    {% endif %}
{% endblock %}

