.PreasReleases {
    .panel-default {
        > .panel-heading {
            padding: 10px 15px;
            &.active {
                background-color: $color-blue-highlight;
                color: $color-white;
                .panel-title {
                    &::after {
                        font-size: 24px;
                        color: $color-white;
                    }
                }
                &.collapsed {
                    .panel-title {
                        &::after {
                            font-size: 24px;
                            color: $color-white;
                        }
                    }
                }
            }
            .panel-title {
                line-height: 1.1;
                &::after {
                    font-size: 24px;
                    margin-top: -2px;
                    color: $color-white;
                }
            }
        }
    }
    .element {
        &:first-child {
            border: none;
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        border-top: 1px solid $color-grey-light4;
        line-height: 1.1;
        padding: 20px;
        overflow: hidden;
        .date {
            font-family: $font-family-default;
            font-weight: bold;
            a {
                color: $color-grey;
            }
        }
        .text {
            font-family: $font-family-default;
        }
        .icon-pdf {
            max-height: 33px;
            position: absolute;
            top: -3px;
            left: -11px;
        }
    }
    .download-btn {
        margin-top: 15px;
        width: 40px;
        float: left;
    }
}

@import "PressReleases_queries";
