<div class="finance-block">
    <img class="loader-gif" src="/uploads/icons/squares.gif">
    <div class="ind">
        <div class="first_row_ind">
            <div class="ind_value"><em></em></div>
            <div class="positive-results">
                <strong class="statArrow" aria-hidden="true"></strong>
                <div class="usd"><br/></div>
            </div>
        </div>
        <span class="date"></span>
    </div>
</div>
