@media screen and (min-width: 400px) {
    .cta-box-finance{
        max-width: 290px;
    }
}
/*768*/
@media screen and (min-width:$small-devices-width) {
    .cta-box-finance {
        margin: 0 auto 30px auto;
    }
}

/*1200*/
@media screen and (min-width:$large-devices-width) {
    .cta-box-finance {
        margin: 0 auto;
    }
}

